:root {
  --body-bg-color: #586670;
  --title-bg-color: white;
}

body {
  background-color: var(--body-bg-color);
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  width: 100%;
  padding: 20px 40px 10px 40px;
  background-color: var(--title-bg-color);
  color: black;
  margin: 0;
  box-sizing: border-box;
  height: 70px;
}

.chat {
  margin: 10px 40px;
  height: calc(100vh - 90px);
}

@media (min-width: 767px) {
  .chat {
    display: flex;
    justify-content: space-between;
  }

  .chat>div:nth-child(1) {
    flex: 1;
    max-width: calc(100% - 300px);
  }

  .chat>div:nth-child(2) {
    flex: 0 0 300px;
    height: 100%;
    max-width: 300px;
  }
}