.chat-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-container {
    background-color: #d7dfe7;
    height: calc(100% - 210px);
    position: relative;
    text-align: center;
    --input-margin: 10px;
    flex: 1;
}

.messages {
    overflow-y: scroll;
    height: calc(100% - 100px);
    margin: 10px;
    scrollbar-width: thin;
}

.messages::-webkit-scrollbar {
    width: 12px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #9daab9;
    border-radius: 6px;
    border: 3px solid #9daab9;
}

.messages::-webkit-scrollbar-track {
    background-color: #becbd9;
    border-radius: 6px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.chat-input {
    display: flex;
    position: absolute;
    width: calc(100% - var(--input-margin) - 22px);
    bottom: 10px;
}

.chat-input>input {
    flex: 1;
    margin: 0 var(--input-margin);
}

.chat-input>button {
    background-color: #428bca;
    color: white;
}

.status {
    color: #3a87ae;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
}

.messages {
    min-height: 40px;
}

.chat-input>* {
    height: 40px;
    border-radius: 7px;
    border: none;
    padding: 10px;
}